.container{
    position: absolute;
    top: 0;
}
.thumbs_wrapper{
    justify-content: space-between;
    margin: 60px 0 0 200px;/*위에 헤더와 옆에 메뉴 여백*/
    padding: 20px 0 0 10px;
}
/*마진제거*/
/*800px 보다 작아지면 메뉴 여백 제거*/
@media screen and (max-width : 800px){
    .thumbs_wrapper{
        margin:60px 0 0 0px;
        padding: 20px 0 0 10px;
    }
    .card{
        width: 50%;
    }
}
/*400px 보다 작아지면 완전제거 card 100%*/
@media screen and (max-width : 400px) {
    
    .thumbs_wrapper{
        margin:60px 0 0 0px;
        padding: 20px 0 0 10px;
    }
    .card{
        width: 100%;
    }
}